---
const today = new Date()
---

<footer class="flex flex-col items-center bg-secondary/15 p-4 text-primary/70">
	<span>&copy; {today.getFullYear()} Jan Gregor</span>
	<small>Powered by not much but honest work</small>
</footer>
