---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '../utils'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props
---

<a
	href={href}
	class={cn('inline-block rounded-sm text-primary/80 no-underline hover:text-primary hover:underline', className)}
	{...props}
>
	<slot />
</a>
